body {
    margin: 0;
    padding: 0;
    color: #ffffff;
    font-family: 'Lato', sans-serif;
    height: 100%;
    background-color: rgb(173, 173, 173);
}

 .grid {
    padding-left: 15px;
    padding-right: 15px;
    display:grid;
    grid-template-columns: repeat(12, 70px);
    grid-column-gap: 30px;
}

 .hidden {
    display: none;
}

 #main-header {
    position: sticky;
    background-color: rgb(59, 59, 59);
    top:0px;
    height:110px;
}
 
 .logo img {
    width: 565px;
    height: auto;
    margin: -229px 0 0 -100px;;
}
      
#about-me1 img {
    width: 350px;
    height: 350px;
    float: right;
    margin-right: 200px;
    margin-bottom: 500px;
    border: 5px solid rgb(59, 59, 59);
    border-radius: 10px;
}

#about-me1 h1{
    text-align: center;
    margin-left: 650px;
}

#about-me1 p{
    text-align: center;
    margin-left: 650px;
}

#about-me2 ul{
    text-align: center;
    list-style: none;
    padding-left: 10px;
}

#about-me2 img{
    width: 400px;
    height: 570px;
    float: left;
    margin-left: 200px;
    border: 5px solid rgb(59, 59, 59);
    border-radius: 10px;
}

#about-me2 p{
    padding-top: 100px;
    text-align: center;
}

 
#main-nav {
    grid-column: 6/13;
    margin:0;
    margin-top:10px;
    margin-left:300px;
    height:90px;
    float: right;
}
 
 #main-nav ul {
    margin-top: 35px;
    margin-left: 30px;
    padding:0;
    float: right;
}
 
 #main-nav li {
 display:inline;
 margin-right: 28px;
}
 
 #main-nav li:last-child {
    margin-right: 0;
}
 
 #main-nav li a {
    color:#dddddd;
    text-decoration: none;
}
 
 #main-nav li a:hover {
  padding-bottom: 8px;
  border-bottom: 3px solid rgb(194, 173, 117);
}
 
 #main-nav li a.active {
    padding-bottom: 8px;
    border-bottom: 3px solid rgb(194, 173, 117);
}

#sns img {
    margin-top: 50px;
    width: 30px;
    height: 30px;
    padding: 5px;
}

#main-footer {
    background-color: rgb(59, 59, 59);
    top:0px;
    height:150px;
    display: block;
}

#footer-nav {
    margin-top: 30px;
    float: left;
}

#footer-nav ul {
    padding:0;
}

#footer-nav li {
    display:inline;
   }

#footer-nav li a {
    color:#dddddd;
    text-decoration: none;
}
 
 #footer-nav li a:hover {
  padding-bottom: 8px;
  border-bottom: 3px solid rgb(194, 173, 117);
}
 
 #footer-nav li a.active {
    padding-bottom: 8px;
    border-bottom: 3px solid rgb(194, 173, 117);
}

#footer-quote {
    float: right;
    text-align: right;
}